* {
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #42e2b8, #03cafd, #2d82b7);
}
.glass{
    
    margin: 70px auto 0 auto;
    padding: 40px;
    max-width: 600px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h1 {
    color: #2D82B7;
}
#logoutBtn {
    text-decoration: none;
    font-family: raleway;
    font-size: 1em;
    border: none;
    border-radius: 5em;
    padding: 0.7em 1em;;
    background-color: #7a0a0a;
    color: #f4f4f4;
    outline: none;
    margin-left: 50px;
}
.logo {
    height: 160px;
   
}
.formulier {
    max-width: 300px;
    margin: auto;
}
.form-group {
    background-color: #fff;
    border-radius: 50px;
}
.form-control {
    height: 50px;
    border: none;
    border-radius: 0 50px 50px 0;
    outline: none;
}
form input[type='submit'] {
    font-family: raleway;
    font-size: 1em;
    border: none;
    border-radius: 5em;
    padding: 0.7em 1em;;
    background-color: #2D82B7;
    color: #f4f4f4;
    outline: none;
}
form input[type='submit']:hover {
    cursor: pointer;
}
form span {
    background-color: #fff;
    /*border-radius: 100%;*/
    border-radius: 50px 0 0 50px;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    width: 60px;
    height: 50px;
}
.form-group {
    margin: 20px;
}
.icon {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.icon_user {
    background-image: url(../../images/user.png);
}
.icon_password {
    background-image: url(../../images/password.png);
}
.icon_email {
    background-image: url(../../images/email.png);
}
.icon_jacket {
    background-image: url(../../images/jacket.png);
}