* {
    margin: 0;
    padding: 0
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #42e2b8, #03cafd, #2d82b7);
}
.glass{
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
nav {
    width: 100%;
    height: 60px;
    margin: 0 0 50px 0;
}
h1 {
    font-family: 'Lato', sans-serif;
    /*font-size: 60px;*/
}
h2 {
    font-family: lato;
    /*font-size: 54px;*/
    text-align: center;
    margin-bottom: 15px;
}
span h2 {
    text-align: left;
    color: #42e2b8;
}
.single_line {
    font-family: 'Lato', sans-serif;
    /*font-size: 34px;*/
    text-align: center;
    margin-bottom: 50px;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
button {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 5em;
    padding: 0.7em 1.2em;
}
button.primary {
    background-color: #03cafd;
    color: #f4f4f4;
}
button.secundary {
    background-color: #f4f4f4;
    color: #3A3A3A;
}
.logo {
    width: 120px;
}
.intro {
    height: 300px;
    padding-bottom: 90px;
}
.introPlace {
    display: flex;
    justify-content: center;
}
.introLogo {
    margin-right: 50px;
    
}
.introTekst h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.introTekst p {
    line-height: 1.5em;
    margin-bottom: 20px;
}
.container_cards {
    display: flex;
    justify-content: space-evenly;
}
.rechts {
    float: right;
    margin: 10px;
}
.devider {
    height: 100px;
    position: relative;
}
.devider img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 2000px;
    width: auto;
}
.devider2 {
    height: 350px;
    position: relative;
    background-color: #fff;
}
.devider2 img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 1000px;
    width: auto;
}
.devider3 {
    height: 100px;
    position: relative;
}
.devider3 img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 1000px;
    width: auto;
}
.uitleg {
    padding-top: 70px;
    text-align: center;
    background-color: #fff;
}
.hesje {
    width: 170px;
    padding-top: 10px;
}
.werking {
    padding: 40px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.werkingTekst {
    max-width: 400px;
    margin-right: 20px;
}
.werkingTekst p {
    margin-bottom: 20px;
}
.card {
    height: 300px;
    width: 250px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    margin-bottom: 150px;
    padding-top: 20px;
}
.card p {
    text-align: left;
    line-height: 1.5em;
    width: 80%;
    margin: auto;
}
.card img {
    width: 50px;
    margin: 10px auto;
}
.card h3 {
    margin-bottom: 20px;
}
.ambulance {
    width: 150px;
}
.waarom {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.waaromimg {
    padding-top: 50px;
    padding-right: 30px;
}
.waaromimg img {
    float: right;
    height: 150px;
    width: auto;
}
.waaromtekst {
    max-width: 380px;
}
.waaromtekst p {
    line-height: 1.5em;
}
.kunnen {
    background-color: #fff;
    padding: 100px 0 0 0;
}
.interesse {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}
.interesse p {
    margin-bottom: 30px;
}